@media only screen and (max-device-width: 900px) {
/* .menu { width:100%; } */
}
.button {
  background-color: #303030; /* Green */
  border-radius: 20px;
  color: white;
  padding: 25px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  margin: 4px 30px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;

}
.button5:hover {
  background-color: White; 
  color: Black;
}
a{
    color: white;
    cursor: pointer;
    text-decoration: none;
}
h2{
	font-size: 100px;
}
p{
	color: #303030;
}
.title-cards{
	font-size: 40px;
	font-family: sans-serif;
	font-weight: bold;
}
.txt-cards{
	font-size: 30px;
}
#subirTopo {
text-decoration: none;
background: #303030;
bottom: 30px;
right: 30px;
color: #fff;
text-align: center;
cursor: pointer;
padding: 20px;
font-size: 20px;
font-weight: bold;
text-transform: uppercase;
position: fixed;
border: 0;
font-family: sans-serif;
opacity: .8;
}

#subirTopo:hover {
opacity:1;
}
.title-page-post{
	font-size: 55px;
	font-family: sans-serif;
	font-weight: bold;
	color: #303030;
	line-height: 1.3;
}
.infos-date-post{
	font-size: 35px;
	font-family: sans-serif;
	color: #303030;
	line-height: 0px;
}
.paragrafo-post{
	font-size: 45px;
	font-family: century-gothic;
	color: #303030;
}
@media screen and (min-width: 860px){
  .compartilhar-whatsapp {
    display: none;
  }